div.jumbotron
    .container
        .row
            .col-md-10.col-md-offset-1
                h1 Welcome to your Game Library!
        br
        .row
            .col-md-7.col-md-offset-4
                p
                    | Your Collection of Playstation 4 Games!
        .row
            .col-md-7.col-md-offset-5
                button.btn.btn-primary
                    a.em-text(href='/addgame') Add A New Game